body{
    font-family: Calibri, Arial, Helvetica, sans-serif;
}

.products li {
    float: left;
    margin: 0 5px 30px 3px;
    position: relative;
    text-align: center;
    width: 31%;
}
a {
    text-decoration: none!important;

}
.view:hover{
    color: yellow;
}
.img_product .tem_img {
    background: #fff;
    width: 100%;
    border: 1px solid #CCC;
    float: none;
    overflow: hidden;
    display: block;
}
.img_product img {
    padding: 2px 2px;
    max-width: 100%;
    min-height: 200px;
    max-height: 200px;
}
.img_product .tit {
    float: none;
    margin-top: 10px;
    overflow: hidden;
    min-height: 30px;
    font-size: 12px;
    font-weight: 600;
    color: #384f9f;
    text-transform: capitalize;
    font-family: arial;
}
.view {
    background: #0472d3;
    background: -moz-linear-gradient(top, #0472d3 0%, #0472d3 40%, #0472d3 100%);
    background: -webkit-linear-gradient(top, #0472d3 0%, #0472d3 40%, #0472d3 100%);
    background: -o-linear-gradient(top, #0472d3 0%, #0472d3 40%, #0472d3 100%);
    background: -ms-linear-gradient(top, #0472d3 0%, #0472d3 40%, #0472d3 100%);
    background: linear-gradient(to bottom, #0472d3 0%, #0472d3 40%, #0472d3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0472d3', endColorstr='#0472d3',GradientType=0 );
    padding: 5px 15px;
    box-shadow: 1px 1px 4px #ccc;
    border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
    -webkit-border-radius: 10px 10px;
    -o-border-radius: 10px 10px;
    -ms-border-radius: 10px 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
}
.title_1 {
    text-align: left;
    color: #d55d1f;
    font-size: 21px;
    font-weight: bold;
    padding: 0px 0 17px 18px;
    background: url(../img/icon_5.png) no-repeat left 10px;
}
.sub-1{
    background: url(../img/list_style5.gif) no-repeat scroll 10px 14px transparent;
    display: inline-block;
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    padding: 9px 15px 9px 25px;
    text-decoration: none;
    text-transform: none;
}